:root {
    background-color: #000518;
}

@keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    transition: background-position 0.5s ease-in-out;
  }
  
  .animate-gradient:hover {
    animation: gradient-move 3s infinite linear;
  }
  